/*mobile sous 768px*/
@media screen and (max-width: 768px) {

    body {
            font-size: 12px;
    }
    /*revoir tout ça*/
    main {
            width: auto; 
            margin: 0;
            margin-bottom: 140px;
    }
    .element1, .element3 {

        width: 100%;
    }
    .element2, .element4 {
        width: 100%;
    }
.conteneur1, .conteneur2 {
    flex-direction: column;
    width: auto;
    display: inline-block;
    justify-content: inherit;
}
    footer {
            flex-direction: column-reverse;
            font-size: 10px;
            justify-content: flex-start;
            text-align: center;
            margin: 0;
            padding: 0;
    }
    .mentions {
            margin-left: 0;
    }
    .contact {
            margin-right: 0;
    }
    header {
            margin: 0;
            justify-content: center;
    }
    }
    