$fontFootBtn: 'Roboto', sans-serif;
$backHeadFootBtn: rgb(87,156, 135);
$colorOMF: rgb(252, 202, 70);
$widthElement: 400px;
$heightElement: 500px;
$displayMainContFoot: flex;
/*effet dégradé sur texte*/
@mixin gradient-text($gradient, $bg : 'light') {
    @supports(mix-blend-mode: lighten) {
      position: relative;
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;        
        background: unquote($gradient);
        pointer-events: none;
      }  
      @if ($bg == 'light') {
        color: #000;
        background: #fff;
        mix-blend-mode: multiply;  
        &::before {
          mix-blend-mode: screen;
        }
      } @else {
        color: #fff;
        background: #000;
        mix-blend-mode: lighten;
        &::before {
          mix-blend-mode: multiply;
        }
      }
    }
}
body {
    margin: 0;
    padding: 0; 
}
a {
    text-decoration: none;
}
header {
    background: $backHeadFootBtn; 
    margin: 0;
    }
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    color: $colorOMF;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 0;
    letter-spacing: -0.1em;
}
main {
    width: 900px;
    flex-direction: column;
    margin:auto;
    display: $displayMainContFoot;
    margin-bottom: 140px;
}
.conteneur1 {
    display: $displayMainContFoot;
    justify-content: space-between;
}
.conteneur2 {
    margin-top: 50px;
    display:$displayMainContFoot;
    justify-content: space-between;
}
.element1 {
    background: #fcdfdb;/*revoir*/
    box-shadow:0 0 2em gray ;
    width: $widthElement;
    height: $heightElement;
    padding-top: 50px;
    overflow: hidden;
    :hover {
        transform: scale(1.1) ;
        -ms-transform: scale(1.1) ;
        -moz-transform: scale(1.1) ;
        -webkit-transform: scale(1.1) ;
        -o-transform: scale(1.1);
        transition: transform 0.3s;
        transform-origin: 50% 50%;
        opacity: 0.6;}
    img {
     margin-left: auto;
     margin-right: auto;
     display: block;
    }
    h2 {
        font-family: 'Devonshire', cursive;
        text-align: center;
        color: black;
        font-weight: lighter;
    }
    h3 {
        font-family: 'Kalam', cursive;
        text-align: center;
        color: black;
    }
}
.element2 {
    background: rgb(255, 245, 254);
    box-shadow:0 0 2em gray ;
    width: $widthElement;
    height: $heightElement;
    padding-top: 50px;
    overflow: hidden;
    :hover {
        transform: scale(1.1) ;
        -ms-transform: scale(1.1) ;
        -moz-transform: scale(1.1) ;
        -webkit-transform: scale(1.1) ;
        -o-transform: scale(1.1);
        transition: transform 0.3s;
        transform-origin: 50% 50%;
        opacity: 0.6;}
    h2 {
     text-align: center;
     font-family: 'Amita', cursive;
     font-size: 2em;
     font-weight: lighter;
     @include gradient-text('linear-gradient(to right, #C67412, #A56799, #6E4CCC)', 'light');
    }
    h3 {
    text-align: center;
    color: rgb(198, 116, 18);
    }
   }
.element3 {
    background: rgb(237, 239, 239);
    box-shadow:0 0 2em gray ;
    width: $widthElement;
    height: $heightElement;
    padding-top: 50px;
    overflow: hidden;
    :hover {
        transform: scale(1.1) ;
        -ms-transform: scale(1.1) ;
        -moz-transform: scale(1.1) ;
        -webkit-transform: scale(1.1) ;
        -o-transform: scale(1.1);
        transition: transform 0.3s;
        transform-origin: 50% 50%;
        opacity: 0.6;}
    h2 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    @include gradient-text('linear-gradient(to right, #0228dd, #0670f3, #229df9)', 'light');
   }
   h3 {
    text-align: center;
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: rgb(75, 177, 255);
   }
}
.element4 {
    background: rgb(253, 255, 253);
    box-shadow:0 0 2em gray ;
    width: $widthElement;
    height: $heightElement;
    padding-top: 50px;
    overflow: hidden;
    :hover {
        transform: scale(1.1) ;
        -ms-transform: scale(1.1) ;
        -moz-transform: scale(1.1) ;
        -webkit-transform: scale(1.1) ;
        -o-transform: scale(1.1);
        transition: transform 0.3s;
        transform-origin: 50% 50%;
        opacity: 0.6;
    }
    h2 {
     text-align: center;
     font-family: 'Kaushan Script', cursive;
     font-size: 3em;
     @include gradient-text('linear-gradient(to right, #1aee06, #45993e, #a5f5bf)', 'light');
    }
    h3 {
    text-align: center;
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: rgb(69, 153, 62);
    }
}
.element5 {
    background: $backHeadFootBtn;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
 h2{
    text-align: center;
    color: $colorOMF;
    font-family: $fontFootBtn;
    font-weight: lighter;
    padding-top: 10px;
    padding-bottom: 10px;
 }
}
footer {
    background:$backHeadFootBtn;
    position: fixed;
    left: 0;
    bottom: 0;
    display: $displayMainContFoot;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    h4 {
        font-weight: lighter;
    }
    a {
     color:$colorOMF;
     font-family: $fontFootBtn;
     font-size: large;
    }
   }
   .mention {
       margin-left: 10px;
       &:hover {
        animation: shake 0.5s;
        animation-iteration-count: infinite;
       }
         @keyframes shake {
           0% { transform: translate(1px, 1px) rotate(0deg); }
           10% { transform: translate(-1px, -2px) rotate(-1deg); }
           20% { transform: translate(-3px, 0px) rotate(1deg); }
           30% { transform: translate(3px, 2px) rotate(0deg); }
           40% { transform: translate(1px, -1px) rotate(1deg); }
           50% { transform: translate(-1px, 2px) rotate(-1deg); }
           60% { transform: translate(-3px, 1px) rotate(0deg); }
           70% { transform: translate(3px, 1px) rotate(-1deg); }
           80% { transform: translate(-1px, -1px) rotate(1deg); }
           90% { transform: translate(1px, 2px) rotate(0deg); }
           100% { transform: translate(1px, -2px) rotate(-1deg); }
         }
      }
   .contact {
       margin-right: 10px;
       &:hover {
           animation: shake 0.5s;
           animation-iteration-count: infinite;
       }
       @keyframes shake {
           0% { transform: translate(1px, 1px) rotate(0deg); }
           10% { transform: translate(-1px, -2px) rotate(-1deg); }
           20% { transform: translate(-3px, 0px) rotate(1deg); }
           30% { transform: translate(3px, 2px) rotate(0deg); }
           40% { transform: translate(1px, -1px) rotate(1deg); }
           50% { transform: translate(-1px, 2px) rotate(-1deg); }
           60% { transform: translate(-3px, 1px) rotate(0deg); }
           70% { transform: translate(3px, 1px) rotate(-1deg); }
           80% { transform: translate(-1px, -1px) rotate(1deg); }
           90% { transform: translate(1px, 2px) rotate(0deg); }
           100% { transform: translate(1px, -2px) rotate(-1deg); }
         }
   }
   @keyframes points {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
   span {
    color:$colorOMF;
    margin: 0.1em;
    font-weight: bold;
    animation: points;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
 span:nth-child(2) {
    animation-delay: 0.7s;
  }
 span:nth-child(3) {
    animation-delay: 1.4s;
  }